.login--div {
    display:flex;
    flex-direction: column;
    width: 350px;
    height:235px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.login--input--div {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.login--text {
    margin-left: auto;
    margin-right: auto;
    font-size:35px;
}

.login--input {
    height:35px;
}