.register--div {
    display:flex;
    flex-direction: column;
    width: 350px;
    height:325px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.register--input--form {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.register--input {
    height: 35px
}

.register--text {
    margin-left: auto;
    margin-right: auto;
    font-size:35px;
}